// Table of Contents
// 1. Variables
// 2. Grid
// 3. Typography
// 4. Partials
// 5. Layout
// 6. Helper Classes

// 1. Variables ============================
// Colors
$brand_dark                  : rgb(42, 45, 54)
$brand_light                 : rgb(139, 157, 191)
$background_alt              : rgb(246, 246, 246)

// Typography
$text__stack                :   'Lato', sans-serif
$text__size_base            :   15px
$text__color                :   $brand_dark
$text__color_secondary      :   $brand_light
$text__color_hint           :   rgba(62, 62, 62, 0.26)
$box-shadow__color          :   rgb(50, 50, 9)

// Breakpoints
$mobile                     : 480px
$tablet                     : 768px


// 2. Grid =================================
.container
    max-width: 40rem
    margin: 0 auto
    width: 90%


// 3. Typography ===========================
*
    box-sizing: border-box

html
    font-size: $text__size_base

body
    font-family: $text__stack
    color: $text__color
    margin: 0

p
    line-height: 1.3
    margin-top: 0
    margin-bottom: 1.3em

h1, h2, h3, h4
    font-weight: 700
    line-height: 1.1
    margin-top: 0
    margin-bottom: 1em

.btn
    font-size: 1rem
    color: $brand_light
    padding: 0.69rem 0.95rem 0.71rem
    min-width: 11.33rem
    border: 1px solid $brand_light
    margin: 1.1rem auto 0.8rem
    border-radius: 3.3rem
    background: transparent

    &_primary
        border: 1px solid $brand_dark
        background: $brand_dark
        color: white


// 4. Partials ==============================
.welcome
    &__title
        font-size: 3.1rem
        margin-bottom: 0
    &__subtitle
        font-size: 2.07rem
        font-weight: 500
        color: $text__color_secondary

.card 
    background: white
    padding: 1.1em
    border-radius: 0.8rem
    box-shadow: 0 0.5rem 1.17rem 0 transparentize($box-shadow__color, 0.88), 0 0.17rem 0.5rem 0 transparentize(black, 0.93)

form
    fieldset
        border: none
        margin: 0
        padding: 0
        
    input, select
        width: 100% 
        border-radius: 0.57rem
        background-color: $background_alt
        border: 1px solid transparent
        box-shadow: inset 0 0 0 0.5px transparentize($brand_dark, 0.96), inset 0 1.5px 0.5px 0 transparentize($brand_dark, 0.98)
        font-size: 0.87rem
        padding: 0.58rem 0.9rem 0.55rem  
        margin-bottom: 0.67rem
        &::placeholder
            color: $text__color_hint
        &:focus
            outline: none
        &:focus:invalid
            border: 1px solid transparentize($text__color, 0.9)
        &:focus:valid
            border: 1px solid adjust-hue($brand_light, -50)
    
    select
        background: transparent
        appearance: none
        -webkit-appearance: none
        -moz-appearance: none
        &:-moz-focusring
            color: transparent
            text-shadow: 0 0 0 #000

    .select-style
        background: #f6f6f6 url("chevron.png") no-repeat 95% 50%
        background-size: 13%
        border-radius: 0.57rem
        margin-bottom: 0.67rem
        select
            margin-bottom: 0

// Backgrounds
.bg_initial
    &:before
        content: ''
        background: $brand_dark
        z-index: -1
        position: fixed
        left: 0
        right: 0
        transition: all 0.25s
        bottom: 0
        top: 60%
        -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%)
        clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%)

.bg_tracks
    background: $background_alt
    &:before
        bottom: 50%
        top: 0
        position: absolute
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)
    
// 5. Layout ================================
// Signup Container
.signup
    transition: all 0.5s
    max-height: 550px

    .welcome
        margin-top: calc(2em + 8vw)

    #signUp
        margin-bottom: 2em
        @media (min-width: $mobile)
            max-width: 20.67rem

        .row
            .select-style
                width: calc(50% - 0.33rem)
                display: inline-block
            .select-style:last-child
                float: right
                clear: right
        button
            display: block

.tracks
    margin-bottom: 2rem

    .welcome
        margin-top: calc(2em + 8vw)

        .welcome__title
            color: white
    
    .track
        display: inline-block
        position: relative
        width: 14.2%
        margin-right: 1.5%
        vertical-align: bottom
        @media (max-width: $mobile)
                width: 32.33%

        img
            width: 100%
            border: 1px solid white
            border-radius: 0.4rem
            box-shadow: 0 0.17rem 0.5rem 0 transparentize(black, 0.93)
            margin-bottom: 1.5%

        .rank
            position: absolute
            bottom: 6.2%
            right: 6.5%
            margin-bottom: 0
            line-height: 1
            font-size: 4rem
            font-weight: bold
            color: transparentize(white, 0.52)
            text-shadow: 0.23px 1.43px 0 transparentize($brand_dark, 0.31)
            @media (max-width: mobile)
                font-size: 3rem

        &__details
            display: none
    
        // Big Album Cover
        &:first-of-type
            width: 51.2%
            float: left
            margin-right: 2.9%

            @media (max-width: $mobile)
                width: 100%
                margin-right: 0

            img
                border: 1.5px solid white
                border-radius: 0.8rem
                box-shadow: 0 0.5rem 1.67rem 0 transparentize($box-shadow__color, 0.88), 0 0.17rem 0.5rem transparentize(black, 0.93)

            .rank
                position: initial
                color: $brand_dark
                text-shadow: 0.23px 1.43px 0 transparentize($brand_light, 0.31)
                float: left
                clear: left

            .track__details
                display: block
                margin-top: 1.2rem
                overflow: auto

                .track__name-artist
                    float: left
                    margin-left: 0.97rem
                    clear: right
                    p
                        color: $brand_light                
                .track__play
                    float: right
                    text-align: right
                    p:last-child
                        color: $brand_light

                h2, p
                    font-size: 0.54rem;
                    line-height: 1.5
                    margin-bottom: 0
                    font-weight: 500
                    

        // Center Smaller tracks
        &:nth-of-type(2)
            margin-top: 1.3rem

        // Remove margin from rightmost element
        @for $i from 1 through 3
            &:nth-of-type(#{1 + 3 * $i})
                margin-right: 0


// 6. Helper Classes
// Helper Classes
.hidden
    opacity: 0
    max-height: 0
    overflow: hidden