doctype html

head
	meta(charset="utf-8")
	title Front-End Test Assignment | Saavn
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	link(rel="stylesheet" href="css/master.css")
body.bg_initial
	section.container.signup
		section.welcome
			h1.welcome__title Hello.
			p.welcome__subtitle Ready to go?

		form#signUp.card
			fieldset
				input(placeholder="First" name="firstName" required pattern="[A-Za-z]+")
				input(placeholder="Last" name="lastName" required pattern="[A-Za-z]+")

			fieldset
				input(type="email" placeholder="Email" name="email" required)
				input(type="password" placeholder="Password" name="password" required)

			fieldset.row
				.select-style: select(name="gender" required)
					option(disabled selected value="") Gender
					option(value="female") Female
					option(value="male") Male
					option(value="notSpecificied") Prefer not to specify
					
				.select-style: select(name="bday" required)
					option(disabled selected value="") Birth Year
					- var n = 1950;
					while n < 2012
						option= n++

			button(type="submit" class="btn btn_primary") Let's Go

	section.container#tracks.tracks

	script(src="js/jquery-min.js")
	script(src="js/app-min.js")
	script(src="https://use.typekit.net/bbr6ywl.js")
	script. 
		try{Typekit.load({ async: true });}catch(e){}
